<!-- Author Najeam 7457195 -->
<nav class="nav_menu">
  <ul>
    <li><a href="/">Order Form</a></li>
    <li><a href="/allorders">All Orders</a></li>
    <li><a href="/authors">Authors</a></li>
  </ul>
</nav>
