<!-- Author Najeam 7457195 -->
<nav class="nav_menu">
  <div class="login">
    <% if (admin !== 'admin') { %>
    <a href="/login">Login</a>
    <% } else { %>
    <a href="/logout">Logout</a>
    <% } %>
  </div>
  <div class="dropdown">
    <% if (admin === "admin") { %>
    <a href="/adminpanel">Admin Panel</a>
    <div class="dropdown-content">
      <ul>
      <% for (pagePost of pagesPosts){ %>
        <li>
          <a href="/<%= pagePost.slugOfPage %>"
            ><%= pagePost.pagePostTitle %></a
          >
        </li>
        <% } %>
      </ul>
    </div>
    <% } else { %>
    <a href="/adminpanel">Admin Panel</a>
  </div>
  <% } %>
</nav>
