<!--Author- Najeam Mehanmal 7457195-->
<%- include('layouts/header'); -%>
<body>

  <div class="formData">
    <p><%= message %></p>
    <button onclick="window.location='/adminPanel';" value="">Return to adminPanel</button>
  </div>
</body>
<%- include('layouts/footer'); -%>
