<!--Author- Najeam Mehanmal 7457195-->
<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>

  <div class="formData">
    
    <button onclick="window.location='/adminPanel';" value=""><%= message %></button>
  </div>
</body>
<%- include('layouts/footer'); -%>
