<!--Author- Najeam Mehanmal 7457195-->
<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
  <div class="formData">
    <p><%= message %></p>
    <button onclick="window.location='/adminPanel';" value="">
      Return to adminPanel
    </button>
  </div>

  <%- include('layouts/footer'); -%>
</body>
