<!--Author- Najeam Mehanmal 7457195-->
<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
  <div class="result">
    <button onclick="window.location='adminpanel';" value="">
      <%= message %>
    </button>
  </div>

  <%- include('layouts/footer'); -%>
</body>
