body {
  display: flex;
  flex-direction: column;
  background: blanchedalmond;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: left; */
  margin: 0 20 20 20;
  /* padding-bottom: 30px; */
  border: 2px solid black;
  border-radius: 10px;
  font-size: 10px;
  height: 10%;
  /* height: 100px; */
}

header h1 {
  flex-grow: 1;
  text-align: center;
  font-size: 40px;
}

header img {
  width: 20%;
  border-radius: 10px;
}

.nav_menu {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background: grey; */
  /* border: 2px solid black;
  border-radius: 10px; */
  margin: 0 20px;
}

.nav_menu > .dropdown,
.login {
  flex-grow: 1;
  border: 2px solid black;
  border-radius: 10px;
  background: grey;
}

.nav_menu ul,
li {
  list-style: none;
}

/* .dropdown-content > ul{
  position: absolute;
} */

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  /* border: 2px solid black; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  margin-left: 50%;
  transform: translateX(-50%);
}

.dropdown-content ul {
  display: flex;
  flex-direction: column;
}

.dropdown-content li {
  /* display: flex;
  flex-direction: column; */
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 2px solid black;

  /* border: 2px solid black; */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.login-data,
.admin-panel-data {
  display: flex;
  flex-direction: column;
  /* margin: 100px;; */
  /* margin: 50px;; */
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.login-data,
.admin-panel-data > h1 {
  text-align: center;
}

.form-data,
.admin-panel-data form {
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form > div > input {
  text-align: center;
}

.submit {
  justify-content: center;
  margin-top: 20px;
}

.result, td, th {
  text-align: center;
  border: 2px solid black;
}
.result div {
  display: flex;
  flex-direction: row;
  /* flex-flow: flex-start; */
  align-items: center;
  justify-content: space-evenly;
}

.result > div > {
  flex-grow: 1;
}


.result input {
  text-align: center;
}

.result img {
  max-width: 50%;
  height: auto;
  border: 2px solid black;
}

.result h1 {
  text-decoration: underline;
}

/* .result h2 {
  color: green;
} */

footer {
  /* margin:auto; */
  text-align: center;
  background: brown;
  padding: 10px;
}

#errors {
  text-align: center;
}
